* {
    font-family: 'Times New Roman', Times, serif;
 }

form {
  border: 3px solid #f1f1f1;
  font-family:'Times New Roman', Times, serif;
}

.cont {
  padding: 20px;
  background-color: #f1f1f1;
  border:1px solid black;
  width:100%
  height:500px;
}

input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type=checkbox] {
  margin-top: 16px;
}

input[type=submit] {
  background-color: #078859;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}
#checkbox1{
    accent-color: purple;
}
.conatiner{
    border:5px solid black;
}
